In [1]:
#####stop words code 

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
def download_nltk_data():
    try:
        nltk.data.find('tokenizers/punkt')
    except LookupError:
        nltk.download('punkt')
    try:
        nltk.data.find('corpora/stopwords')
    except LookupError:
        nltk.download('stopwords')
        
def remove_stop_words(query, stopword_document_path):
    download_nltk_data()

    with open(stopword_document_path, 'r') as file:
        stopword_data = file.read()
        

    stop_words = word_tokenize(stopword_data)

    query_words = word_tokenize(query.lower())

    filtered_query = [word for word in query_words if word not in stop_words]

    return " ".join(filtered_query)

def takeInput():
    query = input("Enter the query: ")
    stopword_document_path = "/Users/anshu.sharma1/try/stopwords.txt"  

    try:
        filtered_query = remove_stop_words(query, stopword_document_path)
        print(f"Filtered query: {filtered_query}")
    except Exception as e:
        print("An error occurred:", e)

In [12]:
print(takeInput())

Filtered query: rsa token
None

In [3]:
#### code to substitute synonyms 

import pandas as pd
import numpy as np
sdf=pd.read_csv("/Users/anshu.sharma1/try/synonymns.csv")

In [4]:
#preprocessing the data 
data_rows=[]
columns=['Term','Payload']
newdf=pd.DataFrame(columns=columns)
for index in sdf.index:
    #print(sdf.loc[index, 'Term'])
    x=sdf.loc[index,'Payload']
    x=x.replace("[","").replace("]","")
    l=x.split(",")
    # print(l)
    fl=[]
    for val in l:
        # print(val.replace('"',''))
        fl.append(val.replace('"',''))
    # print(fl)
    payload=sdf.loc[index,'Payload']
    term=sdf.loc[index,'Term']
    data_row1 = {'Term': term, 'Payload': fl}
    data_rows.append(data_row1)
newdf=pd.concat([newdf,pd.DataFrame(data_rows)])

In [5]:
#creating a dataframe to store name and replacing words
columns=['Name','Replace']
dfnm=pd.DataFrame(columns=columns)

In [6]:
#created the new dataframe after separating name and replacing words
df_rows=[]
for index in newdf.index:
    t=newdf.loc[index,'Term']
    p=newdf.loc[index,'Payload']
    data_rows=[]
    for val in p:
        data_row1 = {'Name': val, 'Replace': t}
        data_rows.append(data_row1)
    dfnm=pd.concat([dfnm,pd.DataFrame(data_rows)])

In [7]:
## remove those queries with same word in name as well as column f
cond=dfnm['Name']==dfnm['Replace']
dfnm=dfnm[~cond]

In [15]:
#check for synonymns
filtered_query="hihop access"
query_list=filtered_query.split(' ')
new_query=""
for word in query_list:
    # check if word exists
    if dfnm['Name'].isin([word]).any():
        # idx=dfnm.loc[dfnm['Name']==word]
        idx = dfnm['Name'] == word
        # print(idx)
        rep=dfnm.loc[idx,'Replace'].values[0]
        new_query=new_query+rep+" "
    
    else:
        new_query=new_query+word+" "
       
print(new_query)

hihop request

     Name Replace
0   1095c   1095c
1  1095 c   1095c
2  1095-c   1095c
0    401k    401k
1   401 k    401k